<div *ngIf="isTalentSelectable;then selectTalentTemplate else displayTalentTemplate"></div>

<ng-template #selectTalentTemplate>
    <div *ngIf="!weapon.talent" (click)="selectWeaponTalent()">Select a talent</div>
    <div *ngIf="weapon.talent" (click)="selectWeaponTalent()">
        <span>{{weapon.talent.name}}</span>
        <span>{{weapon.talent.description}}</span>
    </div>
</ng-template>

<ng-template #displayTalentTemplate>
    <div>
        <span>{{weapon.talent.name}}</span>
    </div>
</ng-template>