<div>
    <div>
        <span>{{ slot.name }}</span>
        <span><button mat-button (click)="updateEquippedWeapon()">Equip this</button></span>
    </div>
    <div>
        <div *ngIf="!selectedWeapon" (click)="selectWeapon(slot.category)">Select a weapon</div>
        <div *ngIf="selectedWeapon">
            <div (click)="selectWeapon(slot.category, i)">
                <span>{{ selectedWeapon.name }}</span>
                <!-- Icon, display other attributes -->
            </div>
            <d2b-weapon-attribute-selector (updated)="updateEquippedWeapon()" [weapon]="selectedWeapon">
            </d2b-weapon-attribute-selector>
            <d2b-weapon-talent-selector (updated)="updateEquippedWeapon()" [isTalentSelectable]="isTalentSelectable"
                [weapon]="selectedWeapon"></d2b-weapon-talent-selector>
            <d2b-weapon-mod-selector (updated)="updateEquippedWeapon()" [weapon]="selectedWeapon">
            </d2b-weapon-mod-selector>
        </div>
    </div>
</div>