<div>
    <div *ngFor="let slot of weaponSlot; let i = index">
        <div>
            <span>{{ slot.name }}</span>
            <span><button mat-button (click)="setEquippedWeapon(selectedWeapons[i])">Equip this</button></span>
        </div>
        <div>
            <div *ngIf="!selectedWeapons[i]" (click)="selectWeapon(slot.category, i)">Select a weapon</div>
            <div *ngIf="selectedWeapons[i]">
                <div (click)="selectWeapon(slot.category, i)">
                    <span>{{ selectedWeapons[i].name }}</span>
                    <!-- Icon, display other attributes -->
                </div>
                <div *ngIf="!secondaryAttribute" (click)="selectWeaponAttribute(selectedWeapons[i].type, i)">Select second attribute</div>
                <div *ngIf="secondaryAttribute" (click)="selectWeaponAttribute(selectedWeapons[i].type, i)">{{secondaryAttribute.attribute}}</div>
                <d2b-weapon-talent-selector  (updated)="updateEquippedWeapon()" [weapon]=selectedWeapons[i]></d2b-weapon-talent-selector>
                <d2b-weapon-mod-selector [weapon]=selectedWeapons[i]></d2b-weapon-mod-selector>
            </div>
        </div>
    </div>
</div>