<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Weapons
        </mat-panel-title>
        <mat-panel-description>
            description
        </mat-panel-description>
    </mat-expansion-panel-header>

    <d2b-weapon-selector></d2b-weapon-selector>
</mat-expansion-panel>

<mat-divider></mat-divider>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Gears
        </mat-panel-title>
        <mat-panel-description>
            description
        </mat-panel-description>
    </mat-expansion-panel-header>

    <d2b-gear-selector></d2b-gear-selector>
</mat-expansion-panel>
<d2b-stat-board></d2b-stat-board>