<!--
     Todo: 
        * Filt and show less attributes
        * 
-->

<div [ngSwitch]="data.key">
    <div *ngSwitchCase="'weapon'">
        <ng-container *ngTemplateOutlet="weaponTemplate"></ng-container>
    </div>
    <div *ngSwitchCase="'weaponTalent'">
        <ng-container *ngTemplateOutlet="weaponTalentTemplate"></ng-container>
    </div>
    <div *ngSwitchCase="'weaponMod'">
        <ng-container *ngTemplateOutlet="weaponModTemplate"></ng-container>
    </div>
    <div *ngSwitchCase="'attribute'">
        <ng-container *ngTemplateOutlet="attributeTemplate"></ng-container>
    </div>
    <div *ngSwitchCase="'brand'">
        <ng-container *ngTemplateOutlet="brandTemplate"></ng-container>
    </div>
    <!-- . . . -->

    <div *ngSwitchDefault>
        <ng-container *ngTemplateOutlet="defaultTemplate"></ng-container>
    </div>
</div>

<ng-template #weaponTemplate>
    <h1 mat-dialog-title>Select a weapon</h1>
    <div mat-dialog-content>
        <mat-tab-group animationDuration="500ms">
            <mat-tab *ngFor="let type of data.value | keyvalue" label="{{type.key}}">
                <div *ngFor="let weapon of type.value" [mat-dialog-close]="weapon">
                    <div>
                        <span>{{weapon.name}}</span>
                    </div>
                    <div>
                        <span *ngFor="let each of weapon.bonus">
                            {{each.attribute}}: {{each.value}}
                        </span>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</ng-template>

<ng-template #weaponTalentTemplate>
    <h1 mat-dialog-title>Select a talent</h1>
    <mat-grid-list mat-dialog-content cols="4" rowHeight="3:2">
        <div *ngFor="let talent of data.value" [mat-dialog-close]="talent">
            <mat-grid-tile>{{talent.name}}</mat-grid-tile>
            <!-- <p>{{talent.description}}</p> -->
        </div>
    </mat-grid-list>
</ng-template>

<ng-template #weaponModTemplate>
    <h1 mat-dialog-title>Select a mod</h1>
    <div mat-dialog-content>
        <mat-grid-list cols="4" rowHeight="3:2">
            <div *ngFor="let mod of data.value" [mat-dialog-close]="mod">
                <mat-grid-tile>{{mod.name}}</mat-grid-tile>
                <!-- <p>{{talent.description}}</p> -->
            </div>
        </mat-grid-list>
    </div>
</ng-template>

<ng-template #attributeTemplate>
    <h1 mat-dialog-title>Select a attribute</h1>
    <div mat-dialog-content>
        <div *ngFor="let attribute of data.value" [mat-dialog-close]="attribute">
            <span>{{attribute.attribute}}</span>
            <span>: {{attribute.value | percent:'.2'}}</span>
            <!-- <p>{{talent.description}}</p> -->
        </div>
    </div>
</ng-template>

<ng-template #brandTemplate>
    <h1 mat-dialog-title>Gear</h1>
    <div mat-dialog-content>
        <!-- <div *ngFor="let brand of data.value" [mat-dialog-close]="brand">
            <div>
                <span>{{brand.name}}</span>
                <p *ngFor="let each of brand.pieceBonus; let i = index">
                    <ng-container *ngIf="each.description">
                        <span>{{i + 1}}/{{brand.pieceBonus.length}}:</span>
                        <span>{{each.description}}</span>
                    </ng-container>

                </p>
            </div>
        </div> -->
        <mat-horizontal-stepper [linear]=1 linear #stepper>
            <mat-step [optional]=0>
                <!-- <form [formGroup]="firstFormGroup"> -->
                <ng-template matStepLabel>Select a brand / gearset</ng-template>
                <!-- <mat-form-field>
                  <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                </mat-form-field> -->
                <div *ngFor="let brand of data.value">
                    <button mat-button matStepperNext (click)="set(brand)">
                        <div>
                            <span>{{brand.name}}</span>
                            <p *ngFor="let each of brand.pieceBonus; let i = index">
                                <ng-container *ngIf="each.description">
                                    <span>{{i + 1}}/{{brand.pieceBonus.length}}:</span>
                                    <span>{{each.description}}</span>
                                </ng-container>

                            </p>
                        </div>
                    </button>
                </div>
                <!-- </form> -->
            </mat-step>
            <mat-step [stepControl]="selectedBrand"  [optional]=0>
                <ng-template matStepLabel>Select a gear</ng-template>

                <div>{{selectedBrand?.name}}</div>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</ng-template>

<ng-template #defaultTemplate>
    defaultTemplate used
</ng-template>