<!--
     Todo: 
        * Filt and show less attributes
        * 
-->
<h1 mat-dialog-title>Select a object</h1>
<div mat-dialog-content>
    <mat-tab-group  animationDuration="500ms">
        <mat-tab *ngFor="let type of data | keyvalue" label="{{type.key}}">
            <div *ngFor="let weapon of type.value" [mat-dialog-close]="weapon">
                <div>
                    <span>{{weapon.name}}</span>
                </div>
                <div >
                    <span *ngFor="let each of weapon.bonus">
                        {{each.attribute}}: {{each.value}}
                    </span>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
