<div>
    <!-- gear slot title -->
    <div>
        <span>{{slot.slot}}</span>
    </div>
    <div *ngIf="!selectedGear" (click)="selectBrand(slot.slot)">{{slot.slot}}</div>
    <div *ngIf="selectedGear">
        <!-- TODO:
            display known things, gear name, icon, core attribute and etc.
            make selectable, recalibratable things work.
            render color based on gear rarity [directive]
            1 exotic gear only detection 
            recalibration control [directive?]
            transfer data to stat service
            recive emitted signal from child components then update gear
        -->
        <div (click)="selectBrand(slot.slot)">
            <span>{{ selectedGear.name }}</span>
            <!-- Icon, display other attributes -->
        </div>
        <d2b-gear-attribute-selector></d2b-gear-attribute-selector>
        <!-- If backpack && chest -->
        <d2b-gear-talent-selector></d2b-gear-talent-selector>
        <!-- If backpack && chest && mask -->
        <d2b-gear-mod-selector></d2b-gear-mod-selector>
    </div>
    <ng-container *ngIf="selectedGear;then display else select"></ng-container>
</div>


<ng-template #display></ng-template>
<ng-template #select></ng-template>