<div *ngIf="weapon.rarity==='exotic';then displayModTemplate else selectModTemplate"></div>

<ng-template #selectModTemplate>
    <div *ngFor="let avaliableMod of weapon.avaliableMods;" (click)="selectWeaponMod(avaliableMod)">
        {{avaliableMod.slot}}
        <div *ngIf="isSelected(avaliableMod)"></div>
        <div *ngIf="isSelected(avaliableMod)">
            {{isSelected(avaliableMod).name}}
        </div>
    </div>
</ng-template>

<ng-template #displayModTemplate>
    <div>
        <div *ngFor="let mod of weapon.mods">
            <p>{{mod.name}}</p>
            <ng-container *ngFor="let each of mod.bonus">
                <span>{{each.attribute}}</span>
                <span>{{each.value | percent:'.2'}}</span>
            </ng-container>
        </div>
    </div>
</ng-template>